<!doctype html>
<html>
<head>
  <title>Game!</title>
</head>
<body>
    <h3>Enter the following input:</h3>
    <form action="/madlib">

     
      <input type="text" name="alias">
      <lablel>Person:</label>  
      <br>

      <label for="noun">Choose a color:</label>
      <input type="radio" name="color" value="green">
      <label>Green</label>
      <input type="radio" name="color" value="yellow">
      <label>Yellow</label>
      <input type="radio" name="color" value="red">
      <label>Red</label><br>

      <label for="noun">Choose a noun:</label>

      <select name="noun" id="noun">
        <option value=""></option>
        <option value="apple">apple</option>
        <option value="pear">pear</option>
        <option value="plum">plum</option>
        <option value="melon">melon</option>
      </select>
      <br>

      <label for="noun">Choose a adjective:</label>

      <select name="adjective" id="adjective">
        <option value=""></option>
        <option value="beautiful">beautiful</option>
        <option value="lazy">lazy</option>
        <option value="sleepy">sleepy</option>
        <option value="angry">angry</option>
      </select>
      <br>

      <input type="Submit">
    </form>
</body>
</html>